<div>
	<h1>Login</h1>
	<form (ngSubmit)="onSubmit()" #loginPage="ngForm">
		<div class="form-group">
    		<label for="username">Username</label>
    		<input [(ngModel)]="model.username" required type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username" #username="ngModel">
    		<ngb-alert type="danger"[hidden]="username.valid || username.pristine"[dismissible]="false">Username is required</ngb-alert>
		</div>
		<div class="form-group">
		    <label for="password">Password</label>
		    <input [(ngModel)]="model.password" required type="password" name="password" class="form-control" id="password" placeholder="Password" #password="ngModel">
		    <ngb-alert type="danger"[hidden]="password.valid || password.pristine"[dismissible]="false">Password is required</ngb-alert>
	    </div>
		<button type="submit" class="btn btn-primary" [disabled]="!loginPage.form.valid">Login</button>
		<ngb-alert [type]="(error == null) ? 'info' : error.type" [hidden]="error==null">{{error.message}}</ngb-alert>
	</form>
	<hr/>
	<div>
		Not registered yet? <a routerLink="/register">Register</a>
	</div>
</div>
