<div>
  <h1>Register</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" required type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" #username="ngModel">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" required type="email" name="email" class="form-control" id="email" placeholder="Email" #email="ngModel">
    </div>
    <div class="form-group">
      <label for="initialPassword">Password</label>
      <input [(ngModel)]="user.password" required type="password" name="password" class="form-control" id="initialPassword" placeholder="Password" #password="ngModel">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
