<!--<div>-->
<!--	<div class="row">-->
<!--		<div class="col">-->
<!--			<app-item-container name="item01"></app-item-container>-->
<!--		</div>-->
<!--		<div class="col">-->
<!--			<app-item-container name="item02"></app-item-container>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<div>
  <div class="row">
    <div class="col">
      <ul style="list-style: none">
        <h2>Drinks</h2>
        <li *ngFor="let drink of drinks">
          <app-item-container
            name="{{drink.drink_name.values().next().value.name}}"
            price="{{drink.price}}" type=1></app-item-container>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style: none">
      <h2>Food</h2>
      <li *ngFor="let food of food">
        <app-item-container name="{{food.name}}" price="{{food.price}}" type=2></app-item-container>
      </li>
      </ul>
    </div>
  </div>
</div>
